body {
	color: #59432b;
}

#header {
	background: url(sleep.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ebdac5;
}

.display-1 , .btn , h5 {
	font-family: 'Lobster', cursive;
}

hr {
	border: 1px solid #ebdac5;
	width: 50%;
}

.btn-secondary {
	background-color: transparent;
	color: #ebdac5;
	border: 1.5px solid #ebdac5;
}

.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active {
    color: #59432b;
    background-color:#ebdac5;
    border-color:#ebdac5;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, {
	outline: none;
    box-shadow: none;
}

.btn-outline-success {
	background-color: transparent;
	border-color: #59432b;
	color: #59432b;

}

.lead {
	font-size: 2rem;
}
.display-1 {
	font-size: 8rem
}
#copy {
	color: black;
}


.btn-outline-success:active, .btn-outline-success:hover, .btn-outline-success:not(:disabled):not(.disabled):active{
	color: #fff;
	background-color: #59432b;
    border-color: #59432b;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus, .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:focus, .btn:focus, .btn-outline-success:not(:disabled):not(.disabled):active{
	outline: none;
    box-shadow: none;
}
